body {
    background-color: #777;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 1024px;
    margin: 0 auto;
}

.headercss {
    background-color: #ebebeb;
    margin: 0%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.customcss {
    background-color: #ebebeb;
    width: 595px;
    margin: 0%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.articlecss {
    color: #ebebeb;
    background-color: #777; 
}

.divcss {
    background-color: #777;
    width: 495px;
    padding: 25px;
    margin: 25px;

}

.h1pcss {
    color: #777;
    background-color: #ebebeb;
    padding: 10px;
    width: 0 auto;
}

aside {
    float: right;
    width: 395px;
    background-color: #ebebeb;
    margin: 0%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 307px;
}
